
body {
    padding-left: 55px;
    padding-right: 30px;
    background-image: url("../image/vector.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 600px;
    max-width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    body {
      background-image: none !important;
    }
}


/* :::::::::::::: START NAVIGATION ::::::::::::::*/

nav.navbar {
    padding-left: 35px;
    padding-right: 27px;
}

.navbar-brand {
    margin: 0px;
}

nav .navbar-nav li a.dropdown-item:hover {
    color: #B0DEFF;
    background-color: #FFFF;
}

nav .navbar-nav li {
    padding-right: 3px;
}

nav .navbar-nav li a {
    color: black;
    font-size: 16px;
}

nav .navbar-nav li a:hover, nav .navbar-nav li a:visited {
    color: black;
}

/* :::::::::::::: END NAVIGATION ::::::::::::::*/

/* ....!:::::::::: START HALAMAN DASHBOARD ::::::::::!....*/
/* :::::::::::::: START SECTION DESCRIPTION ::::::::::::::*/

section.decsription {
    margin-top: 200px;
    margin-bottom: 50px;
}

.bg-transparent.scrolled {
    background: #FFFF !important;
    shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.descawal {
    font-size: 27px;
    text-align: center; 
    color: black;
    font-weight: 600;
    line-height: 48px;

}

.descawal2 {
    font-size: 24px;
    text-align: center; 
    color: black;
    padding-top: 46px;
    padding-bottom: 35px;
    line-height: 48px;
    font-weight: 600;

}

.has-search {
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 160px;
    padding-right: 160px;
}

@media only screen and (max-width: 600px) {
    .has-search {
      width: 70% !important;
      padding: 0px !important;

    }
}
  
.has-search .form-control {
    padding-right: 2.375rem;
    border: 2px solid #000000; 
    border-radius: 40px;
}
  
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #000000;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 0px;
    padding-right: 190px;
}

@media only screen and (max-width: 600px) {
    .has-search .form-control-feedback {
      width: 70% !important;
      padding: 0px !important;
      padding-left: 50% !important;   
    }
}

.vectorawal {
    position: absolute;
    z-index: 999;
    left: -1px;
    top: 50px;
    width: 350px;
}

@media only screen and (max-width: 600px) {
    .vectorawal {
      width: 50% !important;
    }
}

/* :::::::::::::: END SECTION DESCRIPTION ::::::::::::::*/

/* :::::::::::::: START SECTION STATISTIK  ::::::::::::::*/
.statistik {
    padding-top: 60px;
    padding-bottom: 30px;
}

.stat {
    font-weight: 600;
    font-size: 27px;
    line-height: 39px;
    color: #000;
    padding-bottom: 62px;
}

.row {
    margin-left: auto !important;
    margin-right: auto !important;
}

.boxstat {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 106px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.boxstat .contenstat {
    margin-top: auto;
    text-align: center;
    margin-bottom: auto;
}

@media only screen and (max-width: 600px) { 
    .boxstat .contenstat {
        padding-bottom: 20px !important;    
    }
}

.boxstat .contenstat img {
    width: 68px;
    height: 68px !important;
}

.boxstat .contenstat h2 {
    font-style: normal;
    font-size: 30px;
    /* identical to box height */
    color: #000000;
    font-weight: 530;
    line-height: 48px;
    margin-bottom: 0px;

}

.boxstat .contenstat h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 0px;

}

/* :::::::::::::: END SECTION STATISTIK ::::::::::::::*/

/* :::::::::::::: START SECTION HIGHLIGHT DATA ::::::::::::::*/

.highlight {
    padding-top: 60px;
    padding-bottom: 30px;
}

.cards-wrapper {
    display: inline-flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner {
    text-align: center;
}

.card {
    margin-right: 10px;
    margin-left: 10px;
}

span.carousel-control-next-icon, span.carousel-control-prev-icon {
    background-color: #D9D9D9;
    width: 49px;
    height: auto;
    cursor: pointer;
    border-radius: 100%;
}

span.carousel-control-prev-icon, span.carousel-control-next-icon {
    color: black;
}

.carousel-control-next, .carousel-control-prev {
    opacity: .0;
}

span.carousel-control-prev-icon {
    margin-right: auto;
}

span.carousel-control-next-icon {
    margin-left: auto;
}
/* :::::::::::::: END SECTION HIGHLIGHT DATA ::::::::::::::*/
/* ....!:::::::::: END HALAMAN DASHBOARD ::::::::::!....*/

/* ....!:::::::::: START HALAMAN DATA SEKTORAL ::::::::::!....*/

.label-ds {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
}

.img2 {
    display: none;
}
.thumbnail:hover .img1 {
    display: none;
}
.thumbnail:hover .img2 {
    display: block;
}

/* Grid Data Sektoral*/
.sektoral2 {
    padding-top: 60px;
    padding-bottom: 30px;
}

/* Float four columns side by side */
.sektoral2.column2 {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

.col-sm {
    margin-right: auto;
    margin-left: auto;
    display: grid;
}

 .col-sm h6{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .colsekt2 {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .colsekt2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .col-sm {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card-d2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 270px;
    width: 270px;
  }

.icondtsek2{
    width: 55%;
    margin-top: 45px;
    margin-left: 50px;
}

.card-d:hover{
    background-color: #B0DEFF;
}
/* ....!:::::::::: END DATA SEKTORAL PAGE ::::::::::!....*/



/* :::::::::::::: START SECTION DATA SEKTORAL ::::::::::::::*/
.sektoral {
    padding-top: 60px;
    padding-bottom: 30px;
}

.sekt {
    font-weight: 600;
    font-size: 27px;
    line-height: 39px;
    color: #000;
    padding-bottom: 62px;
}

/* Float four columns side by side */
.sektoral.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .column.klom{
    margin-top: 20px;
    width: 270px;
    margin-right: 20px;
    margin-left: 55px;
  }
  .klom h6{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
    padding-top: 10px;
    margin-left: 40px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .colsekt {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .colsekt:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card-d {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 270px;
    width: 270px;
  }

.icondtsek{
    width: 55%;
    margin-top: 45px;
    margin-left: 50px;
}

.card-d:hover{
    background-color: #B0DEFF;
}

.vector3{
    position: absolute;
    right: 0px;
    top: 180%;
    z-index: -1;
    width: 280px;
}

@media only screen and (max-width: 600px) {
    .vector3 {
      width: 50%;
    }
}

/* ....:::::::::: END DATA SEKTORAL SECTION ::::::::::....*/

/* ....!:::::::::: START HALAMAN TURUNAN DATA SEKTORAL ::::::::::!....*/
.vector4{
    position: absolute;
    right: 0px;
    top: 500px;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .vector4 {
      width: 50% !important;
    }
}
/* ....!:::::::::: END HALAMAN TURUNAN DATA SEKTORAL ::::::::::!....*/